body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
}


nav ul{
    display: flex;
} 

nav li{
    list-style: none;
    margin-right: 20px;
}

nav li a{
    text-decoration: none;
    color: #333;
}

nav li:hover{
    background-color: #f0f0f0;
    color: #007BFF;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    text-align: center;


}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card button{
    background-color: #a5bad1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover{
    background-color: #084c8d;
}

